@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-styrene-b: 'Styrene B', ui-sans-serif, system-ui;
}

body {
  font-family: var(--font-styrene-b), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #ffffff;
}

.prose {
  max-width: none;
  font-family: var(--font-styrene-b), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.prose p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}