@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-styrene-b: 'Styrene B', ui-sans-serif, system-ui;
  --accent-main-100: 240, 10%, 3.9%;
}

body {
  font-family: var(--font-styrene-b), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: hsl(var(--accent-main-100));
}

.prose {
  max-width: none;
}

.prose p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}